.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    height: 600px;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0.1cap;
    border-radius: 5px;
    background-color: transparent;
}

.leftForm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.LeftFormTop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: hsla(235, 100%, 90%, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.coreCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid hsla(235, 100%, 78%, 1);
    transition: all 0.3s ease-in-out;
    animation: growth 0.5s ease-in-out infinite alternate;

    > i {
        font-size: 40px;
        color: hsla(235, 100%, 78%, 1);
    }
}

@keyframes growth {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
}

.leftFormBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    > h1 {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    > span {
        letter-spacing: normal;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
    }

    > p {
        margin: 0;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 0.1cap;
        color: hsla(235, 100%, 78%, 1);
    }
}

.uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    > i {
        font-size: 50px;
        color: hsla(235, 100%, 78%, 1);
    }

    &:hover {
        transform: scale(1.2);
    }
}

.rightForm {
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px;
}

.uploadList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.uploadFile {
    display: grid;
    grid-template-columns: 50px auto 50px;
    gap: 15px;
    width: 100%;
}

.thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #0aadeb;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    > i {
        color: white;
        font-size: 25px;
    }
}

.checkIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    right: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;

    > i {
        font-size: 18px;
        color: green;
    }
}

.properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.title {
    font-size: 14px;
}

.size {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.progress {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: hsla(235, 100%, 78%, 1);
        border-radius: 10px;
    }
}

.progressArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.uploadHanler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    > i {
        font-size: 25px;
        color: red;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.percent {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.submitBtnConainer {
    text-align: end;
}

.submitBtn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: hsla(235, 100%, 78%, 1);
    color: white !important;

    &:hover {
        background-color: hsla(235, 100%, 70%, 1);
        transform: scale(1.2);
        cursor: pointer;
    }
}