/* CSS for all */
.centered {
    justify-content: center;
    align-items: center;
}

.displayFlex {
    display: flex;
}

.nonePaddingMargin {
    padding: 0px;
    margin: 0px;
}
/* CSS for all */

/* CSS for body */
.home {
    display: grid;
    grid-template-rows: 840px 430px 700px auto 250px;
    font-family: 'Inter', sans-serif;

    p {
        color: white;
    }

    a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}
/* CSS for body */

/* CSS for Banner01 */
.group {
    display: grid;
    grid-template-rows: 200px 640px;
    overflow: hidden;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: 115%;
}

.firstBanner {
    display: grid;
    grid-template-columns: 2fr 1fr;

    p.headText {
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 5px;
    }

    h1.bodyText {
        font-size: 70px;
        color: white;
    }
}

.firstBannerCol01 {
    display: flex;
    position: relative;
}

.firstBannerCol01Block {
    position: absolute;
    left: 330px;
    top: 100px;

    > p {
        margin-bottom: 20px;
        --move-from: -15vh;
        --move-to: 0;
        animation: fadeIn 2s ease-in-out, moveY 2s ease-in-out;
    }

    > h1 {
        --move-from: -20vh;
        --move-to: 0;
        animation: fadeIn 2s ease-in-out, moveX 2s ease-in-out;
        animation-delay: 1.5s;
        visibility: hidden;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes moveX {
    from {
        transform: translateX(var(--move-from));
    }
    to {
        transform: translateX(var(--move-to));
    }
}

@keyframes moveY {
    from {
        transform: translateY(var(--move-from));
    }
    to {
        transform: translateY(var(--move-to));
    }
}

.firstBannerCol01Row02 {
    gap: 100px;
    margin-top: 60px;
    font-weight: bold;
}

.contactButton {
    text-transform: uppercase;
    border: 2.5px solid white;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(10, 173, 235, 0.3);
        color: #0aadeb;
    }
}

.contactBtnAnimation {
    --move-from: -20vh;
    --move-to: 0;
    animation: fadeIn 1.5s ease-in-out, moveX 1.5s ease-in-out;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.playButtonTitle {
    margin-left: 15px;
}

.playButton {
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #0aadeb;
    }
}

.playBtnAnimation {
    --move-from: 20vh;
    --move-to: 0;
    animation: fadeIn 1s ease-in-out, moveX 1s ease-in-out;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.firstBannerCol02 {
    width: 100px;
    height: 100px;
    margin-top: 135px;
    margin-left: 190px;
    animation: epm 1s infinite alternate ease-in-out;
}

@keyframes epm {
    0% {
        margin-top: 135px;
        margin-left: 190px;
    }
    100% {
        margin-top: 120px;
        margin-left: 170px;
        scale: 1.1;
    }
}
/* CSS for Banner01 */

/* CSS for Banner02 */
.secondBanner {
    display: flex;
    justify-content: center;
    position: relative;
}

.secondBannerBlock {
    position: absolute;
    top: -25%;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.secondBannerItem {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    width: 250px;
    height: 213px;
    cursor: grab;
    transition: all 0.3s ease-in-out;

    p.headContent {
        color: black;
        font-size: 16px;
        font-weight: bold;
        padding: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    p.bodyContent {
        font-family: 'Nunito', sans-serif;
        color: #5f5f5f;
        font-size: 13px;
        padding: 0px;
        margin: 0px;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.bannerNumber {
    color: rgba(0, 0, 0, 0);
    font-weight: 1000;
    -webkit-text-stroke: 2px #5f5f5f;
    font-size: 90px;
    justify-content: space-between;
    margin: 0px 20px;

    p {
        margin: 0px;
        padding: 0px;
        font-family: 'Inter', sans-serif;
    }

    img {
        height: 60px;
        width: 60px;
    }
}

.rectangle {
    background-color: black;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 25px;
    height: 30px;

    &:hover {
        color: #0aadeb;
    }
}

.secondBannerBackground {
    position: absolute;
    background-color: rgba(10, 173, 235, 0.8);
    z-index: -1;
    height: 430px;
    width: 100%;

    > img {
        width: 100%;
        height: 100%;
    }
}

.verticalLine {
    width: 1px;
    height: 100px;
    background-color: white;
}

.backgroundText {
    gap: 55px;
    position: relative;
    bottom: 250px;
}

.backgroundText {
    p {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
    }
}

.leftText {
    font-weight: bold;
    text-wrap: wrap;
    width: 380px;
    gap: 15px;
}

.rightText {
    text-wrap: wrap;
    width: 380px;
}

.backgroundText {
    i {
        position: relative;
        font-size: 50px;
        bottom: 30px;
        color: white;
    }
}
/* CSS for Banner02 */

/* CSS for Banner03 */
.thirdBanner {
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-top: 30px;
}

.thirdBannerTop {
    > p {
        color: #0c121d;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
}

.thirdBannerTopFirstText {
    color: rgba(184, 184, 184, 1);
    font-size: 14px;
    text-transform: uppercase;
}

.thirdBannerTopSecondText {
    font-size: 50px;
    font-weight: bold;
}

.thirdBannerBottom {
    gap: 70px;
    padding: 0px 170px;
}

.thirdBannerBottom {
    p {
        color: #6d7a8c;
        font-size: 16px;

        span {
            color: black;
            font-weight: bold;
        }
    }
}

.thirdBannerBottomLeft {
    > img {
        height: 360px;
        transition: all 0.3s;
        border-radius: 10px;
        box-shadow: 25px 30px 55px rgba(0, 0, 0, 0.467);

        &:hover {
            transform: scale(1.1);
        }
    }
}

.thirdBannerBottomRight {
    width: 500px;
}

.thirdBannerBottomRight {
    a {
        color: black;
        text-decoration: underline;
    }
}

.thirdBannerBottomRight {
    a:hover {
        color: #0aadeb;
        text-decoration: underline;
    }
}
/* CSS for Banner03 */

/* CSS for Job Banner */
.jobBanner {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 50px;
    padding: 50px 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.jobBannerHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.jobBannerHeadFirstText {
    color: #b0b6bf;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.jobBannerHeadSecondText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;

    > p {
        margin: 0;
        color: #0c121d;
    }

    > span {
        color: #0aadeb;
    }
}

.jobBannerHeadLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: growthLink 0.7s ease-in-out alternate infinite;

    > a {
        font-size: 14px;
        color: #5f5f5f;
    }

    > i {
        color: #5f5f5f;
    }

    &:hover {
        > a,
        i {
            color: #0aadeb;
        }
    }
}

@keyframes growthLink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.jobBannerCenter {
    scale: 0.9;
}

.jobBannerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;

    > p {
        color: #5f5f5f;
        margin: 0;
    }

    > a {
        color: #0c121d;
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            color: #0aadeb;
        }
    }
}
/* CSS for Job Banner */
